<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TimerInterval" value="180"/>

    <add key="DBHost" value="vistas21.vistaits.com,8484"/>
    <add key="DBName" value="sasi"/>
    <add key="DBUsername" value="kausar"/>
    <add key="DBUserPassword" value="welcome123"/>

    <add key="SFTPHost" value="xx"/>
    <add key="SFTPUsername" value="xx"/>
    <add key="SFTPUserPassword" value="xxW"/>
    <add key="SFTPDirPath" value="xx"/>
    <add key="SFTUploadDirPath" value="xx"/>


    <add key="DownloadDirectory" value="C:\Users\kausar\source\repos\SftpAuditFilesService\SftpAuditFilesService\Downloads"/>
    <add key="OutputDirectory" value="C:\Users\kausar\source\repos\SftpAuditFilesService\SftpAuditFilesService\Output"/>
    <add key="PollDuration" value="180"/>

    <add key="ReceiverEmail" value="xx@gmail.com"/>
    <add key="FromEmailAddress" value="xx@yy.com"/>
    <add key="NotificationEmail" value="xx@yy.com"/>

    <add key="SmtpServer" value="smtp.office365.com"/>
    <add key="SmtpPort" value="xxx"/>
    <add key="SmtpUsername" value="xx@yy.com" />
    <add key="SmtpPassword" value="xxx" />
    
  </appSettings>
</configuration>
