<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TimerInterval" value="180"/>

    <add key="DBHost" value="vistas21.vistaits.com,8484"/>
    <add key="DBName" value="sasi"/>
    <add key="DBUsername" value="kausar"/>
    <add key="DBUserPassword" value="welcome123"/>

    <add key="SFTPHost" value="66.103.146.23"/>
    <add key="SFTPUsername" value="sasitest"/>
    <add key="SFTPUserPassword" value="{)SqaFCf7;KW"/>
    <add key="SFTPDirPath" value="sasout"/>
    <add key="SFTUploadDirPath" value="sasin"/>


    <add key="DownloadDirectory" value="C:\Users\kausar\source\repos\SftpAuditFilesService\SftpAuditFilesService\Downloads"/>
    <add key="OutputDirectory" value="C:\Users\kausar\source\repos\SftpAuditFilesService\SftpAuditFilesService\Output"/>
    <add key="PollDuration" value="180"/>

    <add key="ReceiverEmail" value="softdev.kau@gmail.com"/>
    <add key="FromEmailAddress" value="tickets@vistaits.com"/>
    <add key="NotificationEmail" value="support@vistaits.com"/>

    <add key="SmtpServer" value="smtp.office365.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="SmtpUsername" value="tickets@vistaits.com" />
    <add key="SmtpPassword" value="Dar92354" />
    
  </appSettings>
</configuration>